{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Info</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <h1>Информация о коте</h1>
    <img src="{% static cat.get_image %}" alt="Cat Image">
    <p>Имя: {{ cat.name }}</p>
    <p>Возраст: {{ cat.age }}</p>
    <p>Сытость: {{ cat.fullness }}</p>
    <p>Счастье: {{ cat.happiness }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Взаимодействовать</button>
    </form>
</body>
</html>
