{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Greeting</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <h2>Вас приветствует симулятор кота</h2>
    <p>для начала введите имя вашего кота:</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">создать</button>
    </form>
</body>
</html>
